<!DOCTYPE html>


<html>

<head>
    <title>Upload Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/home.css') }}">
    <script src="result.js"></script>
    <!--    <script>-->
    <!-- -->
    <!--  firebase.initializeApp(firebaseConfig);-->
    <!--  var dataRef=firebase.database().ref('TbTracking');-->


    <!--</script>-->
</head>

<body>
    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

    <form action="http://127.0.0.1:5000/upload" method="POST" enctype="multipart/form-data">
        <!-- <input type="file" id="imageInput" name="image">
        <button class="submit" onclick="onClickedEstimatePrice()" type="submit">Upload</button>
         <div id="result" class="result">
                <h2 style="font-size: medium;">Select to get Estimated Price</h2>
            </div> -->
        <div class="frame">
            <div class="center">
                <div class="title">
                    <h1 id="fname">Drop or Click to upload a file</h1>
                </div>

                <div class="dropzone">
                    <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                    <input type="file" class="upload-input" id="imageInput" name="image" multiple
                        onchange="myFunction()">
                </div>

                <button class="submit" onclick="onClickedEstimatePrice()" type="submit">Upload</button>

            </div>
        </div>
    </form>
</body>

</html>